div.container {
    padding: 12px;

    color: white;
    background-color: black;

    font-weight: bold;
    border: 2px solid black;

    &.disabled {
        background-color: grey;
    }

    &:hover {
        color: black;
        background-color: white;

        border: 2px solid black;

        cursor: pointer;
    }
}
