div.container {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    > div.line {
        flex: 1 0 0;
        border-top: 2px solid black;
    }
}
