header.container {
    color: white;
    margin: 0 0 24px 0;

    min-height: 150px;

    > div.topSection {
        background-color: rgb(135, 42, 34);

        > div {
            max-width: 860px;
            padding: 48px 0px 6px 0px;
            margin: 0 auto;

            > h1 {
                font-size: 3rem;
            }
        }
    }
}
