.footer {
    margin: 48px 0;

    color: #fff;
    text-align: center;
}

.socialLinks {
    margin: 2em 0;
    display: flex;
    justify-content: center;
}

.socialLink {
    color: #888;

    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.socialLink:visited {
    color: #888;
}

.socialLink:hover {
    color: #e99;
}

.socialLink.gitHubIcon:hover {
    color: #6e5494;
}

.socialLink.twitterIcon:hover {
    color: #1da1f2;
}

.socialLink.facebookIcon:hover {
    color: #3b5998;
}

.socialLink.codepenIcon:hover {
    color: #0ebeff;
}

.socialLink.webPageIcon:hover {
    color: #e99;
}

.socialIcon {
    display: block;
    padding: 0px 10px;
}

.copyright {
    font-family: monospace;
    font-size: 0.9em;
    text-align: center;
    color: #888;
    margin: 50px 0px;
    text-decoration: none;
    cursor: default;

    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.copyright:hover {
    color: rgb(256, 128, 128);
}

body.light-mode .socialLinks {
    color: #888;
}

body.dark-mode .socialLinks {
    color: #888;
}
